.App {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin: 20px;
}

.participant {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

input,
button {
  margin: 5px;
}

.time {
  font-size: 16px;
  margin-top: 10px;
}
