body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    font-size:  30px;
    font-weight: bold;
}

h2{
  text-align: center;
}


.topnav {
    background-color: rgb(58, 58, 146);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color:rgb(2, 2, 93);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.card>div.container>p{
  color: black;
}

.card {
  box-shadow: 0 2px 8px 0 rgb(58, 58, 146);
  transition: 0.3s;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  width: 150px; /* Defina a largura desejada para os cards */
  height: 250px;
  min-width: 120px;
  margin: 8px;
  cursor: pointer;
}

.card a {
  text-decoration: none;
  color: black;
}
.card a:hover{
  text-decoration: underline;
}

.card:hover {
  box-shadow: 0 8px 20px 0 rgb(58, 58, 146);
}

img {
  border-radius: 2px 2px 0 0;
  max-height: 160px;
}

.container {

}

p{
  margin-top: 0px;
}

h4{
  margin-bottom: 0px;
}