body{
    margin-top: 0;
    width: 100%;
}
ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    margin-top: 0;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }