@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(135deg, #666fea 10%, #514ba2 100%); 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: #333;
    text-align: center;
}

form {
    display: grid;
    grid-gap: 20px;
}

label {
    font-size: 18px;
    color: #4b51a2;
}

input {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #4c4ba2;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #6668ea;
}

button {
    padding: 15px 20px;
    background-color: #666fea;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4b69a2;
}

h1, h2 {
    margin-top: 30px;
    font-size: 28px;
    color: #32228f;
    text-align: center;
}

.btn-group {
    float: right;
}

.btn-group button {
    padding: 10px 20px;
    margin-left: 15px;
}

li{
    padding: 20px;
    list-style: none;
}
